/* mulish font from google font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800&display=swap');

/* shared style */
* {
    font-family: 'Mulish', sans-serif;
}

.common-color {
    color: #FF5400;
}

/* .select-box {
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    border: none;
} */

.btn-primary {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    height: 40px;
    width: 130px;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
}


/* navbar style */
header h1 {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

nav {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 135px;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

nav>ul {
    display: flex;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
}

nav li {
    list-style: none;
    margin: 35px;
    font-weight: 600;
    font-style: 1rem;
}

nav li a {
    color: #424247;
    text-decoration: none;
}

/* banner section style*/
.banner-section {
    width: 1200px;
    height: 500px;
    margin: 0 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: linear-gradient(to bottom, #00000025, #0808081d), url(../Images/Group\ 13\ \(1\)\ \(1\).png) no-repeat;
    background-size: cover;
}

.banner-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.banner-description h1 {
    color: #FFF;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
}

.banner-description p {
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.option-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-2 {
    height: 40px;
    width: 130px;
    border: 0;
    border-radius: 5px;
    padding: 8px;
    color: rgba(19, 19, 24, 0.50);

}

/* popular tour style */

.hero-section {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 95px 135px;
    gap: 75px;
}

.hero-section-left {
    width: 50%;
}

.hero-section-left h2 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.hero-section-description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
}

.hero-section-description li {
    margin-top: 10px;
}

.hero-section-right {
    width: 50%;
}

/* Choose Your Destination section style */
.world-tour {
    width: 1200px;
    margin: 0 135px;
}
#card-1{
    background-image: url(../Images/Rectangle\ 5.png);
  grid-area: c1;
}
#card-2{
    background-image: url(../Images/Rectangle\ 8.png);
  grid-area: c2;
}
#card-3{
    background-image: url(../Images/Rectangle\ 6.png);
  grid-area: c3;
}
#card-4{
    background-image: url(../Images/Rectangle\ 7.png);
  grid-area: c4;
}
#card-5{
    background-image: url(../Images/Rectangle\ 9.png);
  grid-area: c5;
}
#card-6{
    background-image: url(../Images/Rectangle\ 11.png);
  grid-area: c6;
}
#card-7{
    background-image: url(../Images/Rectangle\ 10.png);
  grid-area: c7;
}
.img-container{
    display: grid;
    gap: 1.5rem;
    grid-template-areas:
        "c1 c1 c1 c1 c1 c1 c2 c2 c2 c2 c2 c2"
        "c3 c3 c3 c3 c4 c4 c4 c4 c4 c5 c5 c5 "
        "c6 c6 c6 c6 c6 c7 c7 c7 c7 c7 c7 c7";
}



/* why choose us section style */
.about-us {
    width: 1200px;
    margin: 0 135px;
}

.about-section h2 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.about-section p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 50px;
}

.about-section-detail {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.hotel-section {
    width: 50%;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.hotel-section h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.hotel-section p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

.hotel-section img {
    width: 64px;
    height: 64px;
}

.map-section {
    width: 50%;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.map-section h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.map-section p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

.map-section img {
    width: 64px;
    height: 64px;
}

.guarantee-section-container {
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.guarantee-section {
    width: 50%;
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.guarantee-section h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.guarantee-section p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}

.guarantee-section img {
    width: 64px;
    height: 64px;
}
/* mountain in bd style section */
.bd-hill-section{
    width: 1200px;
    margin: 120px 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
/* .hill-section-description li{
    gap: 20px;
} */

/* newsletter section style*/
.newsletter-section {
    width: 1200px;
    margin: 130px 135px;
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.news-trip-section {
    width: 40%;
    border-radius: 1rem;
    border: 1px solid #FF5400;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.newsletter-section h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.newsletter-section p {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(19, 19, 24, 0.10);
}

.text-section,
.email-section {
    width: 393px;
    height: 52px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background: rgba(19, 19, 24, 0.05);
}

.newsletter-img-section {
    width: 60%;

}

.small-heading {
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.offer-section {
    color: #FFF;
    font-size: 25px;
    font-weight: 800;
}

.btn-secondary {
    border-radius: 8px;
    background: #FF5400;
    border: none;
    width: 320px;
    height: 120px;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    transform: rotate(-21deg);
}

/* footer section style */
.footer-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(19, 19, 24, 0.05);
    border-bottom: 2px solid rgba(19, 19, 24, 0.10);

}









/* responsive for mobile */
@media screen and (max-width: 600px) {}